<script type="text/x-handlebars" data-template-name="components/navbar-header">
<style type="text/css">
.back-btn {
  width: 43px;
  height: 33px;
  line-height: 0;
}
</style>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#if hasHistory}}
    <button {{action 'goBack'}} class='navbar-toggle back-btn visible-xs pull-right'>
      <i class='glyphicon glyphicon-circle-arrow-left'></i>
    </button>
    {{/if}}
    {{#link-to 'index' class='navbar-brand'}}Guranteed Rate{{/link-to}}
  </div>
  <div id='col-navbar' class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      {{#link-to 'events.index' tagName='li'}}
        <a href="#/events">Events</a>
      {{/link-to}}
      {{#link-to 'realtors.index' tagName='li'}}
        <a href="#/realtors">Realtors</a>
      {{/link-to}}
      {{#link-to 'newsletter' tagName='li'}}
        <a href="#/newsletter">Newsletter</a>
      {{/link-to}}
      {{#link-to 'contact' tagName='li'}}
        <a href="#/contact">Contact Us</a>
      {{/link-to}}
      <% PageTemplate.all.each do |t| %>
      {{#link-to '<%= t.link %>' tagName='li'}}
        <a href="#/<%= t.link %>"><%= t.title %></a>
      {{/link-to}}
      <% end %>
    </ul>
  </div>
</div>
<div style='height: 54px; margin-bottom: 1.5em;'></div>
</script>