<iframe class='location' frameBorder='0' src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA4KyGJnJqs6-fIOaLRkmzgSPUgwUFrouI&q=11330 Graham Pl, Los Angeles, CA 90064"></iframe>
<div class='location-comment'>
	11330 Graham Pl, Los Angeles, CA 90064
</div>
<div class="contact-list list-group">
  <a href="#" class="list-group-item">Call Us</a>
  <a href="#" class="list-group-item">Email Us</a>
  {{#link-to 'directions' class='list-group-item'}}Get Directions{{/link-to}}
  <a href="#" class="list-group-item">View Website</a>
</div>
<style type="text/css">
.location {
	width: 100%;
	margin-top: -1.5em;
	height: 350px;
}

.location-comment {
	background: #eee;
	margin-top: -1em;
	padding: 1em;
	margin-bottom: 1em;
	line-height: 2em;
	text-align: center;
}

.contact-list {
	margin:1em;
}
</style>